################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JwtTokenAuthorizeProject/bin/Debug/netcoreapp2.1
/JwtTokenAuthorizeProject/obj
